<header>
    <div class="header-content">
        <h1 class="ahahamojimoji header">ム</h1>
        <div class="header-content-inner">
            <h1>Proyecto Mumuki</h1>
            <h4>Enseñando a programar dentro y fuera del aula, de la práctica a la teoría</h4>

            <hr>
            <p>Programar se volvió una habilidad tan fundamental como leer y escribir.

            Nuestro sueño es que todos puedan aprender a programar con <strong>bases sólidas</strong>, por eso nuestra misión es hacer la educación de la programación más eficiente, más entretenida y de mayor calidad.</p>
            <a href="#services" class="btn btn-primary btn-xl page-scroll">Qué hacemos</a>
        </div>
    </div>
</header>
