<header>
    <div class="header-content">
        <img src="img/logo.jpeg" class="logo img-circle">
        <div class="header-content-inner">
            <h1> mumuki</h1>
            <hr>
            <p> Mumuki es un conjunto de herramientas para estudiantes y docentes, recomendadas por <a href="http://program.ar/mumuki-aprender-y-ensenar-a-programar/">Program.AR</a>. Ayudamos a toda organización que quiera aprender o enseñar a programar. Ya sean escuelas, universidades o empresas.</p>
            <a href="http://mumuki.io" class="btn btn-primary btn-xl">¡Probanos!</a>
        </div>
    </div>
</header>
