<aside class="bg-light" >
  <div class="container">
    <div class="row">
      <div class="span12 carousel-container">
        <div id="carousel" class="carousel slide carousel-fade">

          <!-- Carousel items -->
          <div class="carousel-inner">
            <div data-slide-no="0" class="item carousel-item active">
              <img src="img/landing.png" alt="">
              <div class="carousel-caption">
              </div>
            </div>
            <div data-slide-no="1" class="item carousel-item">
              <img src="img/success.png" alt="">
              <div class="carousel-caption">
              </div>
            </div>
            <div data-slide-no="2" class="item carousel-item">
              <img src="img/error.png" alt="">
              <div class="carousel-caption">
              </div>
            </div>
            <div data-slide-no="3" class="item carousel-item">
              <img src="img/finish.png" alt="">
              <div class="carousel-caption">
              </div>
            </div>
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#carousel" data-slide="prev">‹</a>
          <a class="carousel-control right" href="#carousel" data-slide="next">›</a>
        </div>
      </div>
    </div>
  </div>
</aside>
