<section id="pillars">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Cómo lo hacemos</h2>
                <hr class="primary">
                <p>
                Desde Proyecto Mumuki enseñamos combinando herramientas <em>clásicas</em> como <a href="https://www.haskell.org/">Haskell</a>, tecnologías más didácticas como <a href="http://www.gobstones.org/">Gobstones</a> y lenguajes industriales como <a href="https://developer.mozilla.org/es/docs/Web/JavaScript">JavaScript</a> o <a href="https://www.ruby-lang.org/es/">Ruby</a>.

                Todo lo que hacemos está integrado bajo una plataforma educativa que hemos desarrollado especialmente para enseñar a programar, siguiendo una filosofía que se sintetiza en nuestros <strong>4 grandes pilares</strong></p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-trophy wow bounceIn text-primary"></i>
                    <h3>De la práctica a la teoría</h3>
                    <p class="text-muted">Aprender a programar exige ejercitación constante, pero también adquirir conceptos teóricos que permitan comprender lo que se está haciendo.
                    <strong>Mumuki va más allá del <em>learn by doing</em>: de toda práctica surgen elementos teórios</strong></p>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-clock-o wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>No todo cambia</h3>
                    <p class="text-muted">Aunque las tecnologías cambian a diario, todo es más fácil si dominás los conceptos fundamentales.

                    <strong>En Mumuki la tecnología es un medio, no un fin: no enseñamos lenguajes, sino a pensar computacionalmente</strong></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-language wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>En tu idioma</h3>
                    <p class="text-muted">Siempre es más fácil aprender cuando te hablan en tu idioma, y la programación no es la excepción.

                    <strong>Mumuki es un proyecto concebido en Argentina, por eso todo su contenido está en español rioplatense</strong></p>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-university wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Dentro y fuera del aula</h3>
                    <p class="text-muted">El rol del docente es absolutamente irremplazable por un computadora.

                    <strong>Por eso las herramientas de Mumuki buscan empoderar al docente y complementar a la educación presencial, no eliminarla.</strong></p>
                </div>
            </div>
        </div>
    </div>
</section>
