<section id="press" class="bg-dark" >
  <div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">Prensa</h2>
            <hr class="primary">
        </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <img src="https://pbs.twimg.com/profile_images/708012049293385728/ywgb8Orp.jpg" class="press-image img-responsive">
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="press-text">
              <a href="http://www.educ.ar/sitios/educar/blogs/ver?referente=docentes&id=130862" class="press-link"> Mumuki, para aprender programación </a>
              <p class="text-muted press-description">
                  Hoy en día se dice que saber programar es como saber leer y escribir. Con el auge de las TIC y con las nuevas competencias que demanda la sociedad actual, se ha ido incorporando en las escuelas la enseñanza de las ciencias de la computación.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <img src="https://scontent-gru2-1.xx.fbcdn.net/v/t1.0-1/p100x100/10457964_349595095247286_4116912168392899190_n.png?oh=17a6e00be606f7cc48bd3a36b8cfbefa&oe=584931D6" class="press-image img-responsive">
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="press-text">
              <a href="http://program.ar/mumuki-aprender-y-ensenar-a-programar/" class="press-link"> Mumuki: nueva herramienta para aprender y enseñar a programar</a>
              <p class="text-muted press-description">
                  A través de esta novedosa propuesta, los docentes pueden hacer un seguimiento personalizado y tener una forma de definir ejercicios sencillos de programación con evaluación automática. ¡Probala hoy!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <img src="https://pbs.twimg.com/profile_images/575407310102618112/r6xP2cEO.jpeg" class="press-image img-responsive">
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="press-text">
              <a href="http://www.clubdelgraduado.com/contenido/noticias/130" class="press-link"> Enseñar a programar es más fácil con Mumuki</a>
              <p class="text-muted press-description">
                  Mumuki es una plataforma libre y gratuita para aprender y enseñar a programar. Es además, un emprendimiento que crearon cuatro amigos, tres de los cuales pertenecen a la comunidad uteniana.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <img src="http://www.esav.edu.ar/v3/images/recomendados/info_netbooks.jpg" class="press-image img-responsive">
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="press-text">
              <a href="http://www.conectarigualdad.gob.ar/noticia/mumuki-una-nueva-herramienta-para-aprender-a-programar-3041" class="press-link"> Mumuki, una nueva herramienta para aprender a programar</a>
              <p class="text-muted press-description">
                  Esta plataforma propone guías de ejercicios didácticos e interactivos sobre distintos temas y niveles de programación para que resuelvan los estudiantes.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
