<section id="press" class="bg-dark" >
  <div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">{{site.data.press.text.title}}</h2>
            <hr class="primary">
        </div>
    </div>
    <div class="row">
      {% assign sorted = (site.data.press.releases | sort: 'date') | reverse %}
      {% for release in sorted %}
        <div class="col-lg-6 col-md-6">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <a href="{{release.link}}" target="_blank">
                <img src="/img/{{release.image}}" class="press-image img-responsive">
              </a>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="press-text">
                <a href="{{release.link}}" target="_blank" class="press-link"> {{release.title}} </a>
                <p class="text-muted press-description">
                   {{release.publisher}} | {{release.date}}
                </p>
             </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
