<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Qué hacemos</h2>
                <hr class="primary">
                <p>Mumuki es un conjunto de herramientas para estudiantes y docentes, recomendada por <a href="http://program.ar/mumuki-aprender-y-ensenar-a-programar/">Program.AR</a>. Ayudamos a toda organización que quiera aprender o enseñar a programar. Ya sean escuelas, universidades o empresas, ofrecemos:</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-group wow bounceIn text-primary"></i>
                    <h3>Capacitaciones y talleres</h3>
                    <p class="text-muted">Te <strong>enseñamos a programar desde cero</strong> a través de capacitaciones y talleres <em>in-situ</em>. Y también hacemos <em>inception</em>: te enseñamos sobre <strong>cómo enseñar programación</strong></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cog wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Automatización de tareas</h3>
                    <p class="text-muted">Te ofrecemos herramientas on-line para que puedas ser un <strong>docente de programación más eficiente</strong>. Gracias a nuestras correcciones automatizadas y consolas de seguimiento del curso, podés hacer más con menos esfuerzo.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Edición y personalización</h3>
                    <p class="text-muted">Te ayudamos a <strong>personalizar el contenido didáctico</strong> de Mumuki, utilizando nuestras herramientas de edición. Y por si fuera poco, podés crear tus propios ejercicios y apuntes: <strong>vos elegís qué enseñar y cómo</strong></p>
                </div>
            </div>
        </div>
    </div>
</section>
