<aside id="social-proof" class="bg-light">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>{{site.data.social-proof.text.they_proof_us}}</h2>
            <hr class="light">
            <div class="container">
              <div class="row">
                {% for organization in site.data.social-proof.organizations %}
                  <div class="col-lg-3 col-md-3 col-xs-6">
                    <img src="{{organization.logo_url}}" class="user-logo img-responsive center-block" alt="{{organization.name}}" title="{{organization.name}}">
                  </div>
                {% endfor %}
              </div>
            </div>
        </div>
    </div>
</aside>
