<section class="bg-primary" id="us">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Quiénes Somos</h2>
                <hr class="light">
                <p>No somos recién llegados.</p>

                <p>Todo el contenido didáctico de Mumuki - explicaciones y ejercitaciones interactivas - es generado y mantenido por <strong>docentes universitarios que a diario forman cientos de ingenieros, licenciados y programadores</strong>.</p><p>De igual forma, las herramientas y metodologías que ofrecemos son el resultado de <strong>años de experiencia en el aula</strong></p>
            </div>
        </div>
    </div>
</section>
