<section class="bg-primary" id="us">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Quiénes Somos</h2>
                <hr class="light">
                <p class="text-faded">Todo el contenido didáctico de Mumuki - explicaciones y ejercitaciones interactivas - es generado por docentes universitarios que a diario forman ingenierios, licenciados y programadores, y es el resultado de años de experiencia dando clases</p>
            </div>
        </div>
    </div>
</section>
