<section id="us" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Quienes somos</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
            {% for member in site.data.us %}
                <div class="col-lg-2 col-md-2 col-xs-6 {{member.offset}} text-center">
                    <img src="{{member.image}}" class="img-circle person-logo">
                    <h4 class="name-title">{{member.name}}</h4>
                    <div class="row">
                        <div class="col-xs-12">
                            {{member.description | markdownify}}
                        </div>
                    </div>
                    <div class="row icons">
                        <div class="col-lg-4 col-md-4 col-xs-4 nopadding">
                            <a href="https://github.com/{{member.github}}" class="pull-right">
                                <i class="fa fa-github"></i>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-4 nopadding">
                            <a href="mailto:{{member.email}}@mumuki.org" class="white-link">
                                <i class="fa fa-envelope"></i>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-4 nopadding">
                            <a href="https://linkedin.com/in/{{member.linkedin}}" class="pull-left">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
